.headerContainer {
  background: var(--white);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);

  img {
    cursor: pointer;
  }

  button {
    background: var(--white);
  
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white);
    border: none;
    border-radius: 50%;
    font-size: 0;
    margin-left: 1rem;
  
    transition: filter 0.2s;
  
    svg {
      width: 2rem;
      height: 2rem;
    }
  
    &.light:hover {
      filter: brightness(0.95);
    }

    &.dark:hover {
      filter: brightness(1.5);
    }
    
  }

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100); // separador da logo e texto
  }
  
  span {
    margin-left: auto;
    text-transform: capitalize;
  }
}

